# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.next/
out/

# Expo
.expo/
.expo-shared/
/app.json
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.apk
*.aab
*.ipa
*.xcarchive

# Expo prebuild native projects
/android/
/ios/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.development
.env.production
.env.test

# Testing
coverage/
.nyc_output/

# Turbo
.turbo/

# Misc
*.pem
.cache/

# Mobile build outputs
apps/mobile/.expo/
apps/mobile/.expo-shared/
apps/mobile/dist/
apps/mobile/web-build/
apps/mobile/android/.gradle/
apps/mobile/android/app/build/
apps/mobile/android/build/
apps/mobile/android/app/src/main/assets/
apps/mobile/android/app/src/main/res/
apps/mobile/ios/build/
apps/mobile/ios/Pods/
apps/mobile/ios/DerivedData/
